---

---

<section>
  <h1>Bienvenidos al Visor 3D de Nubes de Puntos</h1>
  <h2>Proyecto Final Geoinformatica</h2>
  <p>
    Este proyecto fue desarrollado por los estudiantes de la Universidad de
    Cuenca, para la materia de Geoinformatica, con el fin de mostrar un visor 3D
    de nubes de puntos de distintas zonas de la ciudade de Cuenca - Ecuador.
  </p>
  <h2>Integrantes:</h2>
  <div class="center-list">
    <ul>
      <li>Alberto Soriano</li>
      <li>Christian Quito</li>
      <li>Jorge Barros</li>
      <li>Marcelo Avila</li>
    </ul>
  </div>
</section>

<style>
  section {
    box-sizing: border-box;
    min-height: 450px;
    background: linear-gradient(90deg, #0076dc 0%, #7a1ba6 100%);
    border-radius: 10px;
    color: #fff;
    font-size: 2rem;
    padding: 4rem 3rem;
  }
  h1 {
    text-align: center;
    margin: auto;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem auto;
  }
  .center-list {
    display: flex;
    justify-content: center;
  }
  ul {
    margin: 0;
    list-style: disc;
    padding: 0;
  }
  ul li {
    text-align: center;
    font-size: 1.2rem;
  }
</style>
